{% extends "base.html" %}

{% block content %}
<div style="text-align: center; padding: 80px; height: 80vh;">
    <h2 style="text-decoration: none; color: #3498DB; font-weight: bold; font-size: 30px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); padding: 20px;">계정을 삭제 하겠습니까?</h2>
    <p style="font-size: 25px; margin-bottom: 20px;">사용 중인 아이디 : <strong>" {{ request.user.username }} "</strong></p>
    <p style="font-size: 20px; margin-bottom: 20px; color: #777;text-decoration: underline;">계정을 삭제하실 때 유의하세요! 삭제하시면 복구할 수 없습니다.</p>

    <form method="post" action="{% url 'delete_account' %}" onsubmit="return confirmDelete();">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="font-size: 18px;">계정 삭제</button>
    </form>
</div>

<script>
    function confirmDelete() {
        var result = confirm("정말로 계정을 삭제하시겠습니까?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
{% endblock %}

