{% extends "base.html" %}

{% block content %}
<head>
    <script>
        function confirmDelete() {
            var result = confirm("정말로 계정을 삭제하시겠습니까?");
            if (result) {
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<h1 class="banner_text" style="font-size: 60px; color: khaki; margin-top: 50px; margin-bottom: 30px;">계정 관리 페이지에 오신 걸 환영합니다.</h1>
<div class="col text-center">
<p style=" font-size: 50px; color: beige; margin-top: 100px;"><strong>사용중인 계정: {{ request.user.username }}</strong></p>
    <br><br><br>
<p style=" font-size: 25px; color: beige;">계정을 삭제하실 때 유의하세요! 삭제하시면 복구할 수 없습니다.</p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <form method="post" action="{% url 'delete_account' %}" onsubmit="return confirmDelete();">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-block">계정 삭제</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}