{% extends "base.html" %}

{% block content %}
<div class="container" style="padding: 80px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h2 style="text-decoration: none; color: #3498DB; font-weight: bold; font-size: 24px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">아이디 찾기</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email" style="font-size: 20px; margin-top: 20px;">가입한 이메일을 입력 :</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger" style="font-size: 18px; margin-top: 10px;">
                        {{ error }}
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary " style="font-size: 15px;">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
