{% extends 'base.html' %}

{% block content %}

<div class="banner_section layout_padding">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <h1 class="banner_text" style="font-size: 60px; color: khaki;">LOGIN</h1>
                        {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endif %}
                        <form method="post" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username" style="font-size: 25px; color: khaki;">아이디:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password" style="font-size: 25px; color: khaki;">비밀번호:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="read_bt"><a href="#" id="login-button" style="font-weight: bold;">로그인</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
document.getElementById('login-button').addEventListener('click', function() {
    document.getElementById('login-form').submit();
});
</script>

{% endblock %}
