{% extends "base.html" %}

{% block content %}

<h1 class="banner_text" style="font-size: 60px; color: white; margin-top: 50px; margin-bottom: 30px;">My Code Review</h1>

<div class="row">
    {% for review in reviews %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title" style="font-size: 25px; ">{{ review.title }}</h5>
                <p class="card-text">{{ review.timestamp }}</p>
                <a href="{% url 'review_result' review.id %}" class="btn btn-primary">리뷰 확인하기</a>
                <form method="post" action="{% url 'delete_review' review.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirmDelete();">리뷰 삭제하기</button>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col text-center">
        <p style=" font-size: 25px; color: beige;">코드 리뷰 기록이 없습니다.</p>
    </div>
    {% endfor %}
</div>

<script>
    function confirmDelete() {
        var result = confirm("정말로 리뷰를 삭제하시겠습니까?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>

{% endblock %}